<section class="index-page">
  <p class="success">
    <img class="avatar" src="{{picture}}">
  </p>
  <h1>Witaj {{user}} !! Miło Cię widzieć :)
  </h1>
  <a class="loginBtn loginBtn--google" href="/logout">Log out</a>
</section>